@model HtmxTables.Pages.Person
@{
    var id = $"person-{Model.Id}";
}

<tr id="@id">
    <td>
        @Model.Name
    </td>
    <td>
        @Model.Age
    </td>
    <td class="has-text-right">
        <button class="button is-primary"
                hx-get="@Url.Page("Index", "Edit", new {Model.Id})"
                hx-swap="outerHTML"
                hx-target="closest tr">
            <span class="icon">
                <i class="fa fa-edit"></i>
            </span>
            <span>Edit</span>
        </button>
    </td>
</tr>