@page
@model HtmxTables.Pages.Chat

<div class="section">
    <h1 class="title">WebSockets (Experimental)</h1>
    <div class="notification is-warning">
        This works, but is very experimental. Could use some more event triggers.
        I'd like to be able to clear the message, but can't find a way to trigger an event.
    </div>



    <div id="chatClient" hx-ws="connect:/chatroom">
        @await Html.PartialAsync("ChatRoom", Model.Messages)
        <form id="Chat" class="is-full mt-5" hx-ws="send">
            <div class="field">
                <div class="control">
                    <label>Username</label>
                    <input class="input" type="text" value="Khalid" name="Username" autocomplete="off"/>
                </div>
            </div>
            <div class="field">
                <label>Message</label>
                <input type="text" id="Text" name="Text" class="input" autocomplete="off"/>
            </div>
            <div class="control">
                <button type="submit" class="button is-info">
                    Send
                </button>
            </div>
        </form>
    </div>
</div>